[package]
name = "recorder"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
trace = { path = "../../crates/trace" }
serde_json.workspace = true
wit-bindgen.workspace = true
