name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      WIT_BINDGEN_VERSION: 0.53.1
      WAC_VERSION: 0.9.0
      VICEROY_VERSION: 0.16.4
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: wasm32-unknown-unknown, wasm32-wasip2
          components: rustfmt, clippy
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - uses: bytecodealliance/actions/wasm-tools/setup@v1
      - uses: bytecodealliance/actions/wit-bindgen/setup@v1
        with:
          version: ${{ env.WIT_BINDGEN_VERSION }}
      - name: Install wac
        run: |
          tmp=$(mktemp -d)
          curl -sLo "$tmp/wac-cli" https://github.com/bytecodealliance/wac/releases/download/v${{ env.WAC_VERSION }}/wac-cli-x86_64-unknown-linux-musl
          chmod a+x "$tmp/wac-cli"
          mv "$tmp/wac-cli" /usr/local/bin/wac
      - name: Install viceroy
        run: |
          tmp=$(mktemp -d)
          curl -sLo "$tmp/viceroy.tar.gz" https://github.com/fastly/Viceroy/releases/download/v${{ env.VICEROY_VERSION }}/viceroy_v${{ env.VICEROY_VERSION }}_linux-amd64.tar.gz
          tar -xz -f "$tmp/viceroy.tar.gz" -C "$tmp"
          chmod a+x "$tmp/viceroy"
          mv "$tmp/viceroy" /usr/local/bin/
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Build
        run: make
      - name: Test
        run: make test
