name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      WASM_TOOLS_VERSION: 1.245.1
      WIT_BINDGEN_VERSION: 0.53.1
      WAC_VERSION: 0.9.0
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: wasm32-unknown-unknown, wasm32-wasip2
          components: rustfmt, clippy
      - name: Install wasm-tools, wit-bindgen and wac
        run: |
          tmp=$(mktemp -d)
          wget -qO "$tmp/wasm-tools.tar.gz" https://github.com/bytecodealliance/wasm-tools/releases/download/v${{ env.WASM_TOOLS_VERSION }}/wasm-tools-${{ env.WASM_TOOLS_VERSION }}-x86_64-musl.tar.gz
          tar -xz -f "$tmp/wasm-tools.tar.gz" -C "$tmp"
          mv "$tmp/wasm-tools-${{ env.WASM_TOOLS_VERSION }}-x86_64-musl" /usr/local/bin/wasm-tools
          wget -qO "$tmp/wit-bindgen.tar.gz" https://github.com/bytecodealliance/wit-bindgen/releases/download/v${{ env.WIT_BINDGEN_VERSION }}/wit-bindgen-${{ env.WIT_BINDGEN_VERSION }}-x86_64-linux.tar.gz
          tar -xz -f "$tmp/wit-bindgen.tar.gz" -C "$tmp"
          mv "$tmp/wit-bindgen-${{ env.WIT_BINDGEN_VERSION }}-x86_64-linux" /usr/local/bin/wit-bindgen
          wget -qO "$tmp/wac-cli" https://github.com/bytecodealliance/wac/releases/download/v${{ env.WAC_VERSION }}/wac-cli-x86_64-unknown-linux-musl
          chmod a+x "$tmp/wac-cli"
          mv "$tmp/wac-cli" /usr/local/bin/wac
      - name: Build
        run: cargo build --workspace --release
