name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      WASM_TOOLS_VERSION: 1.245.1
      WIT_BINDGEN_VERSION: 0.53.1
      WAC_VERSION: 0.9.0
      WASMTIME_VERSION: 41.0.3
      VICEROY_VERSION: 0.16.4
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: wasm32-unknown-unknown, wasm32-wasip2
          components: rustfmt, clippy
      - name: Install wasm-tools, wit-bindgen and wac
        run: |
          tmp=$(mktemp -d)
          curl -sLo "$tmp/wasm-tools.tar.gz" https://github.com/bytecodealliance/wasm-tools/releases/download/v${{ env.WASM_TOOLS_VERSION }}/wasm-tools-${{ env.WASM_TOOLS_VERSION }}-x86_64-linux.tar.gz
          tar -xz -f "$tmp/wasm-tools.tar.gz" -C "$tmp"
          mv "$tmp/wasm-tools-${{ env.WASM_TOOLS_VERSION }}-x86_64-linux/wasm-tools" /usr/local/bin/
          curl -sLo "$tmp/wit-bindgen.tar.gz" https://github.com/bytecodealliance/wit-bindgen/releases/download/v${{ env.WIT_BINDGEN_VERSION }}/wit-bindgen-${{ env.WIT_BINDGEN_VERSION }}-x86_64-linux.tar.gz
          tar -xz -f "$tmp/wit-bindgen.tar.gz" -C "$tmp"
          mv "$tmp/wit-bindgen-${{ env.WIT_BINDGEN_VERSION }}-x86_64-linux/wit-bindgen" /usr/local/bin/
          curl -sLo "$tmp/wac-cli" https://github.com/bytecodealliance/wac/releases/download/v${{ env.WAC_VERSION }}/wac-cli-x86_64-unknown-linux-musl
          chmod a+x "$tmp/wac-cli"
          mv "$tmp/wac-cli" /usr/local/bin/wac
      - name: Install viceroy and wasmtime
        run: |
          tmp=$(mktemp -d)
          curl -sLo "$tmp/viceroy.tar.gz" https://github.com/fastly/Viceroy/releases/download/v${{ env.VICEROY_VERSION }}/viceroy_v${{ env.VICEROY_VERSION }}_linux-amd64.tar.gz
          tar -xz -f "$tmp/viceroy.tar.gz" -C "$tmp"
          chmod a+x "$tmp/viceroy"
          mv "$tmp/viceroy" /usr/local/bin/
          curl -sLo "$tmp/wasmtime.tar.xz" https://github.com/bytecodealliance/wasmtime/releases/download/v${{ env.WASMTIME_VERSION }}/wasmtime-v${{ env.WASMTIME_VERSION }}-x86_64-linux.tar.xz
          tar -xJ -f "$tmp/wasmtime.tar.xz" -C "$tmp"
          mv "$tmp/wasmtime-v${{ env.WASMTIME_VERSION }}-x86_64-linux/wasmtime" /usr/local/bin/
          file /usr/local/bin/wasmtime
          wasmtime --version
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Build
        run: make
      - name: Test
        run: make test
